<div class="spacer">
  <div class="signUpVisible" id ="tiny">

    <h1>Contact</h1>
    <form class="go" action="/" method="post">
      <ul><input class = "inp"type="name" name="" value="" placeholder="name"></ul>
      <ul><input class = "inp"type="email" name="email" value="" placeholder="email"></ul>
      <ul><textarea class = "inp"type="multi-line" name="work" placeholder="message"value=""></textarea></ul>
      <ul><input class = "sub"type="submit" name="submit" value="Submit"></ul>

    </form>



  </div>

</div>
