<div class="spacer">
 
  <div class="signUpVisible">

    <h1>Mobile Swift and Front End Web Developer</h1>
    <img class="medium"src="/imgs/code.png" alt="code">
    <h1>Chris Thompson</h1>
    <p><code><br>var skills = [iOS, Xcode, Swift, HTML, CSS, Javascript, Ruby, Rails, SQL]</code></p>



  </div>

</div>

<div class="content">

</div>
