* {
  margin: 0;
padding: 0;
font-family: sans-serif;
  }

.go{

}

.full{
  width:100%;
  background-color: rgba(255,255,255,.97);
}
.width{
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  display: none;
}
.width2{
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  display: block;
}
p{
  border-color: grey;
  border-style: solid;
  border-radius: 3px;
  margin:4px;
  height: auto;
  color:grey;
  border-width: 4px;
  vertical-align: middle;
  font-size: 15px;
  background-color: white;
  animation: grow3 1s ease;
  padding: 7px;

}
ul{
}
.sub:hover{
  color: #ff3363;
  font-size: 15px;
}
.sub{
  width:50%;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border-color: #33b8ff;
  font-weight: bold;
  color: #33b8ff;
  border-style: solid;
  transition: color 1s;

}
.top{
  margin-top:60px;
  font-size: 40px;

}
.inp{

    width: 80%;
    height: 60px;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    vertical-align: middle;
    margin-top: 20px;
    padding: 5px;
    color: #33b8ff;
    border-radius: 10px;

  }
button:focus {outline:0;}
.spacer{
  position: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: relative;

}
.ok {
  position: fixed;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding:20px;
}
button:hover{
  color: #ff3363;
  font-size: 20px;
}

body{
background-image: url("https://static.pexels.com/photos/14676/pexels-photo-14676.png");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
.medium{
  height:100px;
  width: 100px;
  border-radius: 20px;
  border-width: 7px;
  border-color: white;
}

nav{
  background-color: rgba(255,255,255,.0);
  height: 60px;
  vertical-align: middle;
  position: fixed;
  width: 100%;
  z-index: 9999999;
}
button{
  z-index: 40;
  display: inline-block;
  top:20px;
  padding: 10px;
  vertical-align: middle;
  background-color: white;
  width: auto;
  background-color: white;
  border-radius: 10px;
  border-color: #33b8ff;
  border-width: 1px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #33b8ff;
  border-style: solid;
  transition: color 1s;
}
.right{
  float: right;
  padding: 12px;

}

.left{
  float: left;
  padding: 12px;

}
.cont{

}

.pContent{
  text-align: center;
  font-size: 20px;
  padding:20px;
  animation: grow4 ease 3s;
}
.content2{
color: #33b8ff;
font-size: 30px;
animation: none;
}
h1{
  padding:10px;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  color: white;
  animation: grow2 1s ease;
  z-index: 50;

}

.content{
  background-color: white;
  display: block;
  width: 100%;
  height: 300px;
}

.signUpVisible{
  text-align: center;
  height:400px;
  width:300px;
  background-color: #33b8ff;
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  animation: grow 1s ease;




}

.signUp{
  text-align: center;
  height:1px;
  width:1px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
  border-color: #33b8ff;
  border-width: 5px;
  border-style: solid;


}

@keyframes grow {
  0%{
    height:1px;
    width:1%;
  }
  50% {}
  100% {
    height:400px;
  }
}
@keyframes grow2 {
  0%{
    font-size: 0px;
  }
  50% {}
  100% {
    font-size: 20px;
  }
}
@keyframes grow3 {
  0%{
    font-size: 0px;
  }
  50% {}
  100% {
    font-size: 15px;
  }
}

@keyframes grow4 {
  0%{
    font-size: 10px;
  }
  50% {}
  100% {
    font-size: 20px;
  }
}

@keyframes blur {
  0%{
    -webkit-filter: blur(0px);
/* Safari */
filter: blur(0px);  }
  50% {
    -webkit-filter: blur(3px);
/* Safari */
filter: blur(3px);
  }
  100% {
    -webkit-filter: blur(0px);
/* Safari */
filter: blur(0px);
  }
}
